@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400&display=swap');

body {
    font-family: 'DM Sans', sans-serif;
    background: #FFFFFF;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    /* Adiciona espaço ao redor da tela */
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.form-container {
    display: flex;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 70%;
    /* Aumenta a largura do card */
    max-width: 900px;
    /* Largura máxima aumentada */
}

.sidebar {
    width: 80px;
    background-color: #408fd8;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    min-height: 100%;
    /* Garante que a sidebar ocupe toda a altura do formulário */
    box-sizing: border-box;
}

.sidebar-icon {
    margin: 20px 0;
    font-size: 1.5rem;
}

.form-content {
    flex: 1;
    padding: 40px;
}

.form-content h4 {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    font-size: 0.9rem;
    color: #555;
}

.form-control {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 12px 20px;
    margin-top: 5px;
    width: 100%;
    /* Aumenta a largura dos campos de texto */
    height: 50px;
    /* Aumenta a altura dos campos de texto */
    font-size: 1rem;
    /* Ajusta o tamanho da fonte */
}

.btn-primary {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #007bff;
}

.btn-secondary {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #555;
    border: none;
}